In [1]:
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns
import numpy as np

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
lscp_pop_and_bike = pd.read_csv('/content/drive/My Drive/Compas/compas/csv 파일 여기로!/lscp_pop_and_bike_300.csv')
lscp_pop_and_bike

                                            좌표   대여수   반납수  총 이용횟수   스테이션
0      (37.59052639593674, 126.88041634904563)     0     0       0  [155]
1     (37.590546726423185, 126.88154829019997)     0     0       0  [155]
2      (37.59142713034578, 126.88039079257342)     0     0       0  [155]
3      (37.59144746148929, 126.88152274735107)     0     0       0  [155]
4      (37.59146778178655, 126.88265470326604)     0     0       0  [155]
...                                        ...   ...   ...     ...    ...
3229   (37.70445091519225, 126.75467703178417)  6093  4582   10675  [346]
3230  (37.704472506609626, 126.75581060819373)  6093  4582   10675  [346]
3231    (37.70466633943072, 126.7660128502553)   473   406     879  [351]
3232   (37.70468782197291, 126.76714643873707)   473   406     879  [351]
3233   (37.70470929362739, 126.76828002842278)   473   406     879  [351]

[3234 rows x 5 columns]

In [3]:
lscp_bike_300 = pd.read_csv('/content/drive/My Drive/Compas/compas/csv 파일 여기로!/lscp_300.csv')
lscp_bike_300

     Unnamed: 0  Bike_Station  Loan_count  ...  KINTEX  Hosu_yes  Park_count
0             0           101        8366  ...       0         0           0
1             1           103        4535  ...       0         0           1
2             2           104       13402  ...       0         0           0
3             3           105        2806  ...       0         0           0
4             4           106        4444  ...       0         0           0
..          ...           ...         ...  ...     ...       ...         ...
159         159           350        4190  ...       0         0           0
160         160           351         473  ...       0         0           0
161         161           352           0  ...       0         0           1
162         162           353           0  ...       0         0           0
163         163           992         952  ...       0         0           1

[164 rows x 15 columns]

## 전처리

In [ ]:
bike_lscp_300['Total_count'] = bike_lscp_300['Loan_count'] + bike_lscp_300['Return_count']
bike_lscp_300

     Unnamed: 0  Bike_Station  Loan_count  ...  Hosu_yes  Park_count  Total_count
0             0           101        8366  ...         0           0        17573
1             1           103        4535  ...         0           1         9656
2             2           104       13402  ...         0           0        22732
3             3           105        2806  ...         0           0         5502
4             4           106        4444  ...         0           0         6801
..          ...           ...         ...  ...       ...         ...          ...
159         159           350        4190  ...         0           0         7852
160         160           351         473  ...         0           0          879
161         161           352           0  ...         0           1            0
162         162           353           0  ...         0           0            0
163         163           992         952  ...         0           1         1747

[164 rows x 16 columns]

In [ ]:
y = bike_lscp_300[['Total_count']]
X = bike_lscp_300[['Bike_Station',
       'Population', 'Sub_pop', 'Bus_pop', 'DN_avg', 'Road_yes', 'Space_count',
       'Culture_count', 'Sport_count', 'KINTEX', 'Hosu_yes', 'Park_count']]

X.shape, y.shape

((164, 12), (164, 1))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.1)

X_train.shape, X_test.shape, y_train.shape

((147, 12), (17, 12), (147, 1))

## 수치형 스케일링

In [ ]:
numerical_columns = [ 'Population', 'Sub_pop', 'Bus_pop', 'DN_avg', 'Space_count',
       'Culture_count', 'Sport_count', 'Park_count']

In [ ]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

In [ ]:
std_scaler.fit(X_train[numerical_columns])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
std_scaler.transform(X_train[numerical_columns])
std_scaler.transform(X_test[numerical_columns])

array([[ 0.50513831, -0.4383613 , -0.50976962, -0.17508014, -0.54505554,
        -0.31008684, -0.32372381, -0.8804711 ],
       [-0.47546195, -0.4383613 , -0.55073006, -1.26767931, -0.54505554,
        -0.31008684, -0.32372381,  0.54182837],
       [ 0.03708389, -0.4383613 , -0.44097603,  0.06771968, -0.41893294,
        -0.31008684,  1.14050387,  0.54182837],
       [-1.78599049, -0.4383613 , -0.61977291,  0.79611912, -0.54505554,
        -0.31008684, -0.32372381,  0.54182837],
       [ 0.3685628 , -0.4383613 , -0.26519509,  1.52451857, -0.54505554,
        -0.31008684, -0.32372381, -0.8804711 ],
       [ 0.9092587 , -0.4383613 , -0.49336883, -0.90347959, -0.54505554,
        -0.31008684,  0.40839003, -0.8804711 ],
       [-0.37073418, -0.4383613 , -0.51997234,  1.03891894, -0.54505554,
        -0.31008684,  1.87261771,  0.54182837],
       [-0.16032439, -0.4383613 , -0.17121872,  2.49571784, -0.54505554,
        -0.31008684, -0.32372381, -0.8804711 ],
       [ 0.16232781, -0.4383613 , -0.12264778,  2.85991756, -0.02543043,
        -0.31008684,  2.60473155,  0.54182837],
       [ 2.14953136, -0.4383613 , -0.4030897 ,  0.79611912, -0.34830429,
        -0.31008684,  0.40839003, -0.8804711 ],
       [ 1.9466362 , -0.4383613 , -0.11932442,  0.79611912, -0.54505554,
        -0.31008684, -0.32372381,  0.54182837],
       [-0.59629252,  1.35882914,  0.60288373, -1.0248795 , -0.54505554,
        -0.31008684, -0.32372381,  0.54182837],
       [-0.39900352, -0.4383613 , -0.4645719 , -1.0248795 , -0.54505554,
        -0.31008684, -0.32372381, -0.8804711 ],
       [-0.0866094 , -0.4383613 , -0.39807142, -0.66067977, -0.41893294,
        -0.31008684, -0.32372381, -0.8804711 ],
       [-0.52818368,  0.32354667, -0.33473644, -1.1462794 , -0.54505554,
        -0.31008684, -0.32372381, -0.8804711 ],
       [ 1.56661036, -0.4383613 , -0.34077666, -0.53927986, -0.12128361,
        -0.31008684,  1.14050387, -0.8804711 ],
       [ 1.38983751, -0.4383613 , -0.1640901 ,  0.18911958, -0.54505554,
        -0.31008684,  0.40839003, -0.8804711 ]])

## 모델링

In [ ]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [ ]:
import xgboost as xgb

xgb_model = xgb.XGBRegressor(n_estimators=500, 
                              learning_rate = 0.1, 
                              max_depth = 3, objective = 'reg:squarederror').fit(X_train, y_train)

In [ ]:
xgb_model

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=500,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [ ]:
print('train score : {}'.format(xgb_model.score(X_train, y_train)))
print('test score : {}'.format(xgb_model.score(X_test, y_test)))

train score : 0.9995918763878865
test score : 0.7383246619748853

In [ ]:
np.argsort(xgb_model.feature_importances_)

array([ 9,  8,  6,  4,  1,  7,  3, 11,  0,  5,  2, 10])

In [ ]:
feature_important = [ X_train.columns[i] for i in np.argsort(xgb_model.feature_importances_)[::-1]]
feature_important

['Hosu_yes',
 'Sub_pop',
 'Road_yes',
 'Bike_Station',
 'Park_count',
 'Bus_pop',
 'Culture_count',
 'Population',
 'DN_avg',
 'Space_count',
 'Sport_count',
 'KINTEX']